<%-include("partials/header.ejs")%>
    <h1>
        <% if(!currentUser){%>
            Please LogIn/Register to start journaling
            <%} else{%>
                Welcome Back!! 
            <%=currentUser.username%>
            <%}%>
    </h1>
    <%if(currentUser){%>
        <div>
            <%entries.forEach(function(entry){%>
                <div>
                    <h2><%=entry.name%></h2>
                    <p><%=entry.description.substring(0,100)+"..."%><a href="posts/<%=entry._id%>">Read More</a></p>
                </div>
            <%})%>
            
        </div>
   <% } else{%>
    
   <%}%>
    
    
<%-include("partials/footer.ejs")%>